body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f3f3; /* fondo de la pizarra */
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #007BFF;
    color: #fff;
    padding: 5px;
    text-align: center;
    height: 120px; /* Ajusta el valor según tus necesidades */
}


header .company-info {
    text-align: center; /* Alinea el texto al centro */
    flex-grow: 1; /* Permite que la información de la empresa ocupe el espacio restante */
}

header h1 {
    font-size: 45px; /* Ajusta el tamaño de la letra de Información & Marketing */
}

header p {
    font-size: 28px; /* Ajusta el tamaño de la letra de Consultoría Empresarial */
}


.logo {
    position: absolute;
    top: 10px; /* Ajusta la distancia desde la parte superior según tus necesidades */
    right: 10px; /* Ajusta la distancia desde la parte derecha según tus necesidades */
  }
  
  /* Estilo para hacer la imagen ampliable */
  .ampliable {
    width: 100px; /* Ajusta el ancho según tus necesidades */
    height: auto; /* Mantiene la proporción al ajustar el ancho */
    cursor: pointer;
  }





  /* Estilos para formularios */
#itemForm {
    width: 100%; /* O el porcentaje que desees para ocupar 1/4 de la pantalla */
    

.form-row {
    margin-bottom: 10px;
    margin-left: 10px;
}
  
.form-group label {
    margin-bottom: 5px; /* Espaciado inferior entre label e input */
}


/* Configuración adicional para tres columnas adicionales al label*/
.form-column-four {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    margin-left: 10px;
}
  
.form-group-four {
    display: grid;
    grid-template-columns: max-content 1fr 1fr 1fr; /*es el que asigna las tres columanas */
    gap: 2px; /* Espacio entre elementos en la misma columna */
    align-items: center; /* Alinea los elementos verticalmente */
}



#enero, #febrero, #marzo, #abril, #mayo, #junio, #julio, #agosto, #septiembre, #octubre, #noviembre, #diciembre, #totalano, 
#r1, #r2, #r3, #r4, #r5, #r6, #r7, #r8, #r9, #r10, #r11, #r12, #r13, #d1, #d2, #d3, #d4, #d5, #d6, #d7, #d8, #d9, #d10, #d11,
#d12, #d13{
    width: 120px; /* Ajusta el ancho según tus necesidades */
}